@model IEnumerable<PETSHOP.Models.UserProfile>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcumb {
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xl-center font-weight-bold text-primary text-uppercase mb-1">Danh sách khách hàng</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
            <span>
                <a data-toggle="tooltip" title="Xuất Excel" asp-action="ExportExcel" class="btn btn-warning"><i class="fa fa-file-excel-o"></i></a>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align: center">
                        <th>STT</th>
                        <th>Chức năng</th>
                        <th>Email</th>
                        <th>Ảnh đại diện</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Tên tài khoản</th>
                        <th>Trạng thái tài khoản</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                        foreach (var p in Model)
                        {
                            <tr style="text-align: center">
                                <td>@i</td>
                                <td>
                                    @if (p.Account.IsActive == true)
                                    {
                                        <a asp-action="DeActiveAccount" asp-route-accountId="@p.AccountId" name="DeActiveAccount" data-toggle="tooltip" title="Khóa tài khoản"><i class="fa fa-lock"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="DeActiveAccount" asp-route-accountId="@p.AccountId" name="DeActiveAccount" data-toggle="tooltip" title="Mở tài khoản"><i class="fa fa-unlock"></i></a>
                                    }
                                </td>
                                <td>@p.UserProfileEmail</td>
                                <td>
                                    @if (p.UserProfileAvatar != null && p.UserProfileAvatar != "")
                                    {
                                        <img style="width: 60px" src="/images/avatar/@p.UserProfileAvatar" alt="Ảnh đại diện" />
                                    }
                                    else
                                    {
                                        <span>_</span>
                                    }
                                </td>
                                <td>@p.UserProfileFirstName @p.UserProfileMiddleName @p.UserProfileLastName </td>
                                <td>@(String.IsNullOrEmpty(p.UserProfileDob) ? "_" : p.UserProfileDob )</td>
                                <td>@(String.IsNullOrEmpty(p.UserProfilePhoneNumber) ? "_" : p.UserProfilePhoneNumber)</td>
                                <td>
                                    @(String.IsNullOrEmpty(p.UserProfileAddress) ? "_" : p.UserProfileAddress)
                                </td>
                                <td>
                                    @p.Account.AccountUserName
                                </td>
                                <td>
                                    @if (p.Account.IsActive == true)
                                    {
                                        <span class="badge badge-primary">Đang hoạt động</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Đang bị khóa</span>
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
