@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-11 ftco-animate text-center">
                <h1 class="mb-4">Thiên đường mua sắm dành cho thú cưng</h1>
                <p><a asp-action="Index" asp-controller="Category" class="btn btn-primary mr-md-4 py-3 px-4">MUA SẮM <span class="ion-ios-arrow-forward"></span></a></p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light ftco-no-pt ftco-intro">
    <div class="container">
        <div class="row">
            @foreach (var cat in ViewBag.Category as List<Category>)
            {
                string icon = "";
                if (cat.CategoryName == "food")
                {
                    icon = "flaticon-dog-eating";
                }
                else if (cat.CategoryName == "costume")
                {
                    icon = "flaticon-grooming";
                }
                else
                {
                    icon = "flaticon-blind";
                }
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="@icon"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">@cat.CategoryName.ToUpper()</h3>
                            <p>Go shopping</p>
                            <a asp-action="CategoryById" asp-controller="Category" asp-route-slugCategory="@cat.CategoryName" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<section class="ftco-section testimony-section" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Sản phẩm mới nhất</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var p in ViewBag.NewProducts as List<PETSHOP.Models.ModelView.ProductModelView>)
                    {
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-shopping-bag"></span></div>
                                <div class="text">
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(/images/products/@p.ProductImage)"></div>
                                        <div class="pl-3">
                                            <p class="name"><a href="/category/@p.CatName/@p.SlugName">@p.ProductName</a></p>
                                            <span class="position">@((p.ProductPrice*(1- p.ProductDiscount)).ToString("#,##"))</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Sản phẩm mua nhiều nhất</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var p in ViewBag.MostBought as List<PETSHOP.Models.ModelView.ProductModelView>)
                    {
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-shopping-bag"></span></div>
                                <div class="text">
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(/images/products/@p.ProductImage)"></div>
                                        <div class="pl-3">
                                            <p class="name"><a href="/category/@p.CatName/@p.SlugName">@p.ProductName</a></p>
                                            <span class="position">@((p.ProductPrice*(1- p.ProductDiscount)).ToString("#,##"))</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
