@model IEnumerable<PETSHOP.Areas.Admin.Models.AccountManageDTO> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcumb {
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xl-center font-weight-bold text-primary text-uppercase mb-1">Danh mục tài khoản</div>
                </div>
            </div>
        </div>
    </div>
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex row">
            <div class="justify-content-end">
                <a asp-action="Create" asp-area="Admin" asp-controller="AccountManages" class="btn btn-primary">Thêm tài khoản</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center" width="5%">STT</th>
                        <th style="text-align:center"width="15%">Chức năng</th>
                        <th style="text-align:center"width="15%">Email</th>
                        <th style="text-align:center"width="10%">Trạng thái</th>
                        <th style="text-align:center"width="20%">Họ và tên</th>
                        <th style="text-align:center"width="10%">Avatar</th>
                        <th style="text-align:center"width="15%">Địa chỉ</th>
                        <th style="text-align:center"width="10%">Chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                        foreach (var p in Model)
                        {
                            <tr>
                                <td style="text-align:center">@i</td>
                                <td style="text-align:center">
                                    <a asp-action="EditProduct">
                                        <i data-toggle="tooltip" title="Reset mật khẩu" class="fas fa-redo"></i>
                                    </a>
                                    &nbsp;
                                    <a asp-action="ActivateAccount" asp-area="Admin" asp-route-accountEmail="@p.Email">
                                        @if (p.IsActivated)
                                        {
                                            <i data-toggle="tooltip" title="Khóa tài khoản" class="fas fa-user-lock"></i>
                                        }
                                        else
                                        {
                                            <i data-toggle="tooltip" title="Kích hoạt tài khoản" class="fa fa-unlock-alt"></i>
                                        }
                                    </a>
                                </td>
                                <td>@p.Email</td>
                                <td style="text-align:center">
                                    @if (p.IsActivated)
                                    {
                                        <span class="badge badge-success">Đã kích hoạt</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Chưa kích hoạt</span>
                                    }
                                </td>
                                <td>@p.FullName</td>
                                <td style="text-align:center"><img style="width: 60px; height:60px"  src="~/images/avatar/@p.Avatar" alt="Alternate Text" /></td> 
                                <td >@p.Address</td>
                                <td style="text-align:center">@p.AccountRoleName</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


