@model PETSHOP.Models.ModelView.ProductModelViewDetail
@{
    string catName = ViewBag.CategoryName as string;

}
<link href="~/css/css/styleProduct.css" rel="stylesheet" />
@section breadcumb {
    <section>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Dịch vụ <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread"><span id="category">@catName.ToUpper()</span></h1>
                </div>
            </div>
        </div>
    </section>
}


<section class="ftco-section bg-light ftco-faqs" style="padding: 2rem 0">
    <div class="container card-body">
        <div class="row">
            <div class="col-lg-6 order-md-first">
                <div class="work mb-4 img d-flex align-items-end" style="background-image: url(/images/products/@Model.ProductImage); height:700px">
                    <a href="/images/products/@Model.ProductImage" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="fa fa-expand"></span>
                    </a>
                    <input type="hidden" id="image" value="@Model.ProductImage" />
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Cat</span>
                            <h2><span id="slugName">@Model.SlugName</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                    <h2 class="mb-3"><span id="name">@Model.ProductName.ToUpper()</span></h2>
                    <p id="desc">@Model.ProductDescription</p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">Thông tin sản phẩm</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <ol style="list-style: none">
                                    @if (Model.CategoryName == "food")
                                    {
                                        <li ><p style="font-weight: bold">Ngày hết hạn: </p>@Model.FoodExpiredDate.ToString("dd/MM/yyyy")</li>
                                        <li>Số lượng còn : @Model.Amount</li>
                                        <li>Nhà phân phối: @Model.DistributorName</li>
                                        <li>Giá tiền: <span>@((Model.ProductPrice*(1 - Model.ProductDiscount)).ToString("#,##"))</span></li>
                                        <input type="hidden" id="price" value="@((Model.ProductPrice*(1 - Model.ProductDiscount)))" />
                                    }
                                    else if (Model.CategoryName == "costume")
                                    {
                                        <li>
                                            Kích cỡ :
                                            <ul>
                                                @foreach (var item in Model.CostumeSize)
                                                {
                                                    <li>@item.CostumeSize - @item.CostumeAmountSize</li>

                                                }
                                            </ul>
                                        </li>
                                        <li>Nhà phân phối: @Model.DistributorName</li>
                                        <li>Giá tiền: <span>@((Model.ProductPrice*(1 - Model.ProductDiscount)).ToString("#,##"))</span></li>
                                        <input type="hidden" id="price" value="@((Model.ProductPrice*(1 - Model.ProductDiscount)))" />
                                        <li>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="size" value="S" checked>S
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" value="M" name="size">M
                                                </label>
                                            </div>
                                            <div class="form-check-inline disabled">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" value="L" name="size">L
                                                </label>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>Số lượng còn : @Model.Amount</li>
                                        <li>Nhà phân phối: @Model.DistributorName</li>
                                        <li>Giá tiền: <span>@((Model.ProductPrice*(1 - Model.ProductDiscount)).ToString("#,##"))</span></li>
                                        <input type="hidden" id="price" value="@((Model.ProductPrice*(1 - Model.ProductDiscount)))" />
                                    }

                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                                <span style="width: 30px; height: 40px; text-align: center; padding-top: 10px;" class="btn btn-danger">-</span>
                                                            </button>
                                                        </span>
                                                        @if (Model.CategoryName == "costume")
                                                        {
                                                            <input type="text" name="quant[1]" id="amount" class="form-control-sm input-number" style="height:40px; width: 50px" value="1" min="1" max="@Model.CostumeSize.SingleOrDefault(p=>p.CostumeSize == "S").CostumeAmountSize">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" name="quant[1]" id="amount" class="form-control-sm input-number" style="height:40px; width: 50px" value="1" min="1" max="@Model.Amount">
                                                        }
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                                                <span style="width: 30px; height: 40px; text-align: center; padding-top: 10px" class="btn btn-success">+</span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <button id="addtocart" class="btn btn-outline-danger" style="display: inline-block; padding: 15px; text-align:center; width: 50%"><i class="fa fa-shopping-cart" aria-hidden="false"></i> &nbsp; Thêm vào giỏ hàng</button>
                                    </li>
                                    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5da3c3835de3e70013e3bcee&product=inline-share-buttons&cms=website' async='async'></script>
                                    <div class="sharethis-inline-share-buttons"></div>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">Đánh giá<span class="text text-danger">(@(Model.No_Ratings) đánh giá)</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0" style="text-align:center">
                                <ul style="list-style:none">
                                    <li>
                                        <span>
                                            @for (int i = 1; i <= (int)Model.Rating; i++)
                                            {
                                                <i class="fa fa-star" style="color:orangered;"></i>
                                            }

                                            @for (int i = 1; i <= 5 - (int)Model.Rating; i++)
                                            {
                                                <i class="fa fa-star" style="color: whitesmoke"></i>
                                            }
                                        </span>
                                    </li>
                                </ul>
                                <a class="btn-sm btn-success" asp-controller="Ratings" asp-action="RatingDetail" asp-route-slugName="@Model.SlugName"><span class="text-xl-center text-white">Di chuyển tới trang đánh giá cho sản phẩm này</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(function () {
        if ($("#amount").attr("max") == 0) {
            document.getElementById("addtocart").innerHTML = '<i class="fa fa-shopping-cart" aria-hidden="false"></i> &nbsp; Đã hết hàng';
            document.getElementById("addtocart").disabled = true;
        }

        $("input[type=radio]").change(function () {
            var size = $(this).val();

            if (size == undefined) {
                size = "";
            }

            var slugName = document.getElementById("slugName").textContent;
            // get ajax check amount
            $.ajax({
                url: "/Category/CheckAmountProduct",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { "slugName": slugName, "size": size },
                async: true,
                success: function (res) {
                    if (res > 0) {
                        document.getElementById("addtocart").innerHTML = '<i class="fa fa-shopping-cart" aria-hidden="false"></i> &nbsp; Thêm vào giỏ hàng';
                        document.getElementById("addtocart").disabled = false;
                        $("#amount").removeAttr("max").attr("max", res);
                    } else {
                        document.getElementById("addtocart").innerHTML = '<i class="fa fa-shopping-cart" aria-hidden="false"></i> &nbsp; Đã hết hàng';
                        document.getElementById("addtocart").disabled = true;
                    }
                }
            });
        });

        // spinner
        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Đã đạt số lượng tối thiểu');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Đã đạt số lượng tối đa');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // add to cart
        $("#addtocart").click(function () {
            var eleSize = document.getElementsByName('size');
            var Size = "";
            for (i = 0; i < eleSize.length; i++) {
                if (eleSize[i].checked) {
                    Size = eleSize[i].value;
                }
            }

            var CartItemSlugName = document.getElementById("slugName").textContent;
            var Name = document.getElementById("name").textContent;
            var Desc = document.getElementById("desc").textContent;
            var Image = $("#image").val();
            var Amount = $("#amount").val();
            var Price = $("#price").val();
            var SlugCategory = document.getElementById("category").textContent.toLowerCase();

            if (SlugCategory == "costume") {
                Name = Name + "(" + Size + ")"

            }

            var cartItem = {
                CartItemSlugName,
                Name,
                Desc,
                Image,
                Amount,
                Price,
                SlugCategory
            }
            // request to server
            $.ajax({
                url: "/Cart/AddtoCart",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { "cartItem": JSON.stringify(cartItem) },
                async: true,
                success: function (res) {
                    window.location.reload();
                }
            });
        });

    });
</script>
